a {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    background-color: #1977c9;
    border-color: #11426d;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    margin-right: 1rem;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}