<div *ngIf="student">
    <h2>Detalji studenta - {{student.jmbag}}</h2>
    <div><span>JMBAG: </span>{{student.jmbag}}</div>
    <div><span>Broj ECTS: </span>{{student.numECTS}}</div>
    <div *ngIf="student.payingTuition" class="isPayingTuition">Student treba platiti školarinu</div>

    <div *ngIf="courses">
        <h3>Kolegiji na kojima je student upisan:</h3>
        <li *ngFor="let course of courses">
            <span>{{course.title}} [{{course.numECTS}}]</span>
    </li>
    </div>
</div>

<div>
    <button class="btn_back" type="button" (click)="goBack(); $event.stopPropagation();">go back</button>
</div>